/* Add Reset for Good Practice */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #f5f7fa;
  color: #222;
  line-height: 1.5;
}
